<app-authentication-card buttonLabel="Weiter" (buttonClick)="register()">
  <form class="form-flex">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput placeholder="E-Mail">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput placeholder="Passwort erstellen">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Alter</mat-label>
      <input matInput placeholder="Alter">
    </mat-form-field>
  </form>
</app-authentication-card>
