<img [ngClass]="{ blur: blur }" src="{{ imageUrl }}" />
<div class="overlay" [ngClass]="{ revert: pinAskBlackListReason, 'menu-open': isMenuOpen }">
  <div class="background" (click)="goToPinDetailsPage()"></div>
  <ng-container *ngIf="!pinAskBlackListReason; else revertBlacklistBlock">
    <button class="remember-button" mat-flat-button color="primary" (click)="openCreateBulletinBoardDialog()">
      Merken
    </button>
    <div class="action-button-wrapper">
      <a mat-flat-button href="{{ pin.link }}" target="_blank">
        <mat-icon>arrow_forward</mat-icon>
        {{ url }}
      </a>
      <button
        mat-icon-button
        #shareMenuTrigger
        [matMenuTriggerFor]="shareMenu"
        (menuClosed)="menuClosed()"
        (menuOpened)="menuOpened()"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        #pinMenuTrigger
        [matMenuTriggerFor]="pinMenu"
        (menuClosed)="menuClosed()"
        (menuOpened)="menuOpened()"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #revertBlacklistBlock>
    <span>Alles klar! Wir zeigen dir diesen Pin künftig nicht mehr. <b>Homefeed anpassen</b></span>
    <div class="action-button-wrapper">
      <button
        mat-icon-button
        class="hidden-trigger"
        #pinMenuTriggerAfterBlacklist="matMenuTrigger"
        [matMenuTriggerFor]="pinMenu"
      ></button>
    </div>
    <div class="revert-button">
      <button mat-flat-button (click)="revertBlacklist()">Rückgängig machen</button>
    </div>
  </ng-template>
</div>

<mat-menu #shareMenu="matMenu" panelClass="share-menu" class="mat-typography share-menu">
  <app-share-menu></app-share-menu>
</mat-menu>

<mat-menu #pinMenu="matMenu" class="mat-typography">
  <app-pin-menu
    [pinAskBlackListReason]="pinAskBlackListReason"
    [topicName]="topicName"
    [imageUrl]="[imageUrl]"
    (blacklist)="blacklist()"
  ></app-pin-menu>
</mat-menu>
