:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}

.blur {
  filter: blur(4px);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;

  .remember-button {
    display: none;
  }

  .action-button-wrapper {
    display: none;
  }
}

.revert {
  span {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    padding: 12px;
  }

  .revert-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    width: 100%;
  }
}

.overlay:hover,
.revert {
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 12px;
  }

  .remember-button {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .action-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 8px;

    .mat-icon-button {
      background-color: white;
      border-radius: 50%;
    }
  }
}

.menu-description {
  margin: 16px;
}

.topic-name {
  font-weight: bold;
  text-transform: capitalize;
}

.mat-menu-item {
  font-weight: bold;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;

  .icon-button {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }

    .mat-icon {
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }

  .facebook {
    img {
      width: 36px;
      height: 36px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}

.share-description {
  padding: 12px;
}

.lower-font-size {
  font-size: 12px;
}
