<div class="text">
  <h1>Fertig!</h1>
  <h2>Wir füllen deinen Homefeed mit vielen Pins ...</h2>
</div>

<div class="rectangle-container">
  <div class="grid">
    <div>
      <div *ngFor="let rectangle of rectangles" [style.backgroundColor]="getRandomColor()" class="rectangle move-1"></div>
    </div>
    <div>
      <div *ngFor="let rectangle of rectangles" [style.backgroundColor]="getRandomColor()" class="rectangle move-2"></div>
    </div>
    <div>
      <div *ngFor="let rectangle of rectangles" [style.backgroundColor]="getRandomColor()" class="rectangle move-3"></div>
    </div>
  </div>
</div>

