:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 0 40px;
  height: 100%;
  padding-top: 0;
  justify-content: space-evenly;
  text-align: center;

  .account {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: gray;
    z-index: 1;
  }

  .email {
    margin-top: 20px;
  }

  .title {
    font-size: 36px;
    margin-top: 0px;
  }

  .subtitle {
    font-size: 21px;
    margin-bottom: 40px;
  }

  .text {
    font-size: 21px;
    margin-bottom: 0px;
  }

  .text {
    font-size: 18px;
  }

  .link {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  .link:hover {
    text-decoration: underline;
  }

  .relative {
    position: relative;
  }

  .name {
    display: inline-flex;
    align-items: center;
    button {
      margin-left: 16px;
      mat-icon {
        color: grey;
      }
    }
  }

  .no-margin {
    margin: 0;
  }

  .save-name {
    display: flex;
    align-items: baseline;
    mat-icon {
      color: grey;
    }
  }
}
