:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.title {
  text-align: center;
  padding: 32px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-radio-button {
    padding: 8px 24px;
  }

  h1 {
    margin-left: 32px;
  }
}

::ng-deep .mat-card .mat-divider-horizontal {
  position: relative;
}

::ng-deep .user-defined-radio-button {
  position: relative;

  .mat-radio-label {
    width: 100%;
  }

  .mat-radio-label-content {
    display: flex;
    width: 100%;
  }

  .user-defined-input {
    border: unset;
    margin: 18px 0px 18px 32px;
    font-size: 24px;
    width: 100%;
  }

  .user-defined-input:focus {
    outline-offset: unset;
    outline: unset;
  }
}

.divider {
  margin-bottom: 32px;
}
