<app-background-images></app-background-images>

<div class="authentication-card">
  <div class="card">
    <app-registration *ngIf="registration; else login"></app-registration>
    <ng-template #login>
      <app-login></app-login>
    </ng-template>
  </div>
</div>

<div class="login-button">
  <button mat-raised-button (click)="registration = !registration">
    <ng-container *ngIf="registration; else registrationText">Anmelden</ng-container>
    <ng-template #registrationText>Registrieren</ng-template>
  </button>
</div>

