h1 {
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-wrapper {
  padding-left: 10px;
  padding-top: 10px;
  button {
    margin-left: 10px;
  }
}

.image-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;

  img {
    border-radius: 10px;
    object-fit: cover;
  }
}

.bulletin-board-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid lightgray;
}

.list-wrapper {
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid lightgray;
}

.hide {
  opacity: 0;
  animation: fadeOut 0.5s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.move-image {
  transform: translateX(calc(50%));
  animation: moveToCenter 0.5s ease-out;
}

@keyframes moveToCenter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(50%));
  }
}

.hidden {
  display: none;
}

.subtitle {
  text-align: center;
  opacity: 1;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bulletin-board-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bulletin-board-hover:hover {
  .notice {
    display: flex;
  }
}

::ng-deep .create-bulletin-board {
  display: flex;
  align-items: center;
  padding: 12px;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  button {
    margin-left: 8px;
  }
}

.notice {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  color: white;
  background: darkgray;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    margin-left: 8px;
  }
}
