<mat-toolbar class="white">
  <img class="logo" src="assets/icons/logo.png" />
  <mat-form-field class="search" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Suchen</mat-label>
    <input type="text" matInput placeholder="Search" />
  </mat-form-field>
  <button mat-button>Startseite</button>
  <button mat-button>Ich folge</button>
  <button mat-button>User</button>
  <mat-divider [vertical]="true" class="divider"></mat-divider>
  <button mat-icon-button>
    <mat-icon>chat_bubble</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>more_horiz</mat-icon>
  </button>
</mat-toolbar>
