<div class="blue-container">
  <h1 class="mat-display-1">So nutzt du Image-Hub optimal.</h1>
</div>

<div class="grid">
  <div class="container">
    <mat-icon>call_made</mat-icon>
    <h1 class="mat-h3">Klicke auf einen Pin, der dir gefällt</h1>
  </div>
  <div class="container">
    <mat-icon>turned_in</mat-icon>
    <h1 class="mat-h3">Für später merken</h1>
  </div>
  <div class="container">
    <mat-icon>cloud</mat-icon>
    <h1 class="mat-h3">Ziel-Website besuchen</h1>
  </div>
</div>

<button mat-icon-button (click)="closeBanner()">
  <mat-icon>close</mat-icon>
</button>
