<div class="background-layer">
  <mat-grid-list [cols]="6" [rowHeight]="100" [gutterSize]="30">
    <mat-grid-tile *ngFor="let image of images" class="round" [rowspan]="image.rowSpan">
      <img [src]="image.url" alt="image" class="fullsize-img">
    </mat-grid-tile>
  </mat-grid-list>
  <div class="background"></div>
</div>

<mat-toolbar class="white">
  <img class="logo" src="assets/icons/logo.png">
  <mat-form-field class="search" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search</mat-label>
    <input type="text" matInput placeholder="Search">
  </mat-form-field>
  <button mat-button>Home</button>
  <button mat-button>Following</button>
  <button mat-button>User</button>
  <mat-divider [vertical]="true" class="divider"></mat-divider>
  <button mat-icon-button>
    <mat-icon>chat_bubble</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>more_horiz</mat-icon>
  </button>
</mat-toolbar>

<div class="card-wrapper">
  <mat-card class="card">
    <mat-card-header>
      <div class="header">
        <div class="circle-header">
          <div *ngFor="let circle of [0, 1, 2, 3]" class="circle-parent">
            <div class="circle grey"></div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <mat-icon class="account">account_circle</mat-icon>
        <div class="email text">email</div>
        <h1 class="title">Willkommen bei Image-Hub, Name!</h1>
        <div class="subtitle">Deine Antworten auf die folgenden Fragen helfen uns dabei, die richtigen Ideen für dich zu finden.</div>
        <button mat-raised-button class="proceed">Weiter</button>
        <div class="text">Du hast bereits ein Image-Hub Konto?</div>
        <a class="link text" routerLink="/login">Stattdessen anmelden</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
