<app-background-images top="78px"></app-background-images>

<app-toolbar></app-toolbar>

<div class="card-wrapper">
  <mat-card class="card">
    <mat-card-header>
      <div class="header">
        <app-stepper [step]="step"></app-stepper>
        <mat-divider></mat-divider>
      </div>
    </mat-card-header>
    <mat-card-content [ngSwitch]="step">
       <app-step-welcome *ngSwitchCase="0" (next)="next()"></app-step-welcome>
       <app-step-gender *ngSwitchCase="1"></app-step-gender>
    </mat-card-content>
  </mat-card>
</div>
