/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.proceed {
  background-color: #e60023;
  color: white;
  width: 100%;
  margin-bottom: 16px;
}

.share-menu {
  width: 320px;
  padding: 8px;
}
