:host {
  display: block;
  width: 100%;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

::ng-deep  #email .mat-form-field-wrapper,
::ng-deep  #password .mat-form-field-wrapper,
::ng-deep  #age .mat-form-field-wrapper  {
  margin: 0;
}
