<span class="share-description">
  Diesen Pin teilen.
</span>

<div class="button-wrapper">
  <button mat-flat-button class="icon-button">
    <div>
      <img src="/assets/icons/whatsapp.png" />
      WhatsApp
    </div>
  </button>

  <button mat-flat-button class="icon-button facebook">
    <div>
      <img src="/assets/icons/facebook.png" />
      Facebook
    </div>
  </button>

  <button mat-flat-button class="icon-button">
    <div>
      <img src="/assets/icons/twitter.png" />
      Twitter
    </div>
  </button>

  <button mat-flat-button class="icon-button">
    <div>
      <mat-icon>email_outline</mat-icon>
      E-Mail
    </div>
  </button>

  <button mat-flat-button class="icon-button">
    <div>
      <mat-icon>link_outline</mat-icon>
      Link
    </div>
  </button>
</div>
